# SPDX-FileCopyrightText: 2023 Justin Bingham <justin@bingham.id>
# SPDX-FileCopyrightText: 2023 elf Pavlik <elf-pavlik@hackers4peace.net>
#
# SPDX-License-Identifier: CC0-1.0

proposals/**/*.html
proposals/**/notes.md
proposals/**/*.mmd.svg
proposals/**/*.mmd.png
.on-save.json

node_modules
package-lock.json
yarn.lock
dist

.idea
